<ion-header>
  <div
    class="flex justify-between items-center border-b-[1px] border-solid border-primary p-1"
  >
    <div class="flex grow justify-center">
      <span class="text-primary font-vag">SINAL SECRETO</span>
    </div>
    <img
      (click)="closeModal()"
      src="../../../../../assets/game/partidaTruco/botao-fechar.png"
      class="h-6 rounded-md transition cursor-pointer active:scale-110 duration-300"
    />
  </div>
</ion-header>
<ion-content>
  <div class="p-2 flex flex-wrap items-center justify-start">
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/zap.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/7copa.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/7ouro.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/espadinha.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/3.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/nada.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
    <img
      src="../../../../../assets/game/partidaTruco/sinal-secreto/maisOuMenos.png"
      class="h-12 m-1 cursor-pointer active:scale-110 duration-300"
    />
  </div>
</ion-content>
