<ion-header>
  <div
    class="flex fundo justify-between items-center border-b-[1px] border-solid border-primary p-1"
  >
    <div class="flex grow justify-center">
      <span class="text-primary font-vag">Associar-se a um clube</span>
    </div>
    <img
      (click)="closeModal()"
      src="../../../../../assets/game/partidaTruco/botao-fechar.png"
      class="h-6 rounded-md transition cursor-pointer active:scale-110 duration-300"
    />
  </div>
</ion-header>
<ion-content>
  <div class="w-full h-full flex items-center flex-col">
    <ion-label class="text-primary text-[0.7rem] my-2">Associar</ion-label>
    <ion-input
      type="text"
      class="rounded-sm text-[1rem] text-primary font-vag border-[1px] border-solid border-primary"
      color="transparent"
      placeholder="ID DO CLUBE"
      size="small"
    ></ion-input>
    <img
      src="../../../../../assets/game/clubeAssociar/entrar.png"
      class="h-7 cursor-pointer active:scale-110 duration-300 my-2"
    />
    <img
      src="../../../../../assets/game/clubeAssociar/torne-se.png"
      class="h-12"
    />
    <img
      src="../../../../../assets/game/clubeAssociar/caso-não.png"
      class="h-12 my-2"
    />
    <img src="../../../../../assets/game/clubeAssociar/termo.png" class="h-6" />
  </div>
</ion-content>
