super-tabs-toolbar {
  --st-indicator-color: transparent;
  background: var(--primaryLinearGradient);

  ion-label {
    font-family: "Vag-Round";
    font-size: 1rem;
    color: var(--primary);
  }

  .active {
    background-color: rgba(0, 0, 0, 0.30196078431372547);
  }
}
