:root {
  --background: green;
}
super-tab-button, super-tabs-toolbar {
  height: 2.5rem;
}
super-tabs-toolbar {
  --st-indicator-color: transparent;
  --st-indicator-height: 20px
  --super-tabs-toolbar-background: yellow;
  background: var(--primaryLinearGradient);

  ion-label {
    font-family: "Vag-Round";
    font-size: 1rem;
    color: var(--primary);
  }

  .active {
    background-color: rgba(0, 0, 0, 0.30196078431372547);
  }
}

uper-tabs-container {
  --background: green;
  background-color: red;
}
