<div
  class="flex items-center customSm"
  [ngClass]="{ 'flex-row-reverse ': cardDirection === 'left' }"
>
  <figure *ngIf="!joined" class="flex flex-col items-center cursor-pointer">
    <img
      class="w-12 h-12 rounded-full border-solid border-[1px] border-[#eec26f]"
      src="/assets/game/partidaTruco/perfil-foto-exemplo.png"
      lorem="avatar"
    />

    <div
      class="flex relative bottom-2 justify-center items-center rounded-md border-solid border-[0.5px] border-[#eec26f] bg-[#272727] py-0.5 px-1.5"
    >
      <figcaption class="text-white text-[0.4rem]">
        {{ nome }}
      </figcaption>
    </div>
  </figure>

  <ng-template #costa>
    <div class="absolute">
      <div
        *ngFor="let item of [1, 2, 3]; let i = index"
        [ngClass]="{
          'right-[2.5rem]': cardDirection === 'left',
          'left-10': cardDirection === 'right',
          'right-[3rem]': cardDirection === 'left' && i === 1,
          'right-[3.5rem]': cardDirection === 'left' && i === 2,
          'left-[3rem]': cardDirection === 'right' && i === 1,
          'left-[3.5rem]': cardDirection === 'right' && i === 2
        }"
        class="absolute -top-8 w-8 h-12 rounded-sm"
      >
        <img
          class="h-full w-full"
          src="/assets/game/partidaTruco/costas-das-cartas.png"
        />
      </div>
    </div>
  </ng-template>

  <div class="absolute" *ngIf="eu; else costa">
    <div
      *ngFor="let item of cards; let i = index"
      [ngClass]="{
        'left-[3rem]': cardDirection === 'right',
        'left-[4.5rem]': cardDirection === 'right' && i === 1,
        'left-[6rem]': cardDirection === 'right' && i === 2
      }"
      class="absolute -top-8 w-8 h-12 rounded-sm"
      (click)="onClickLog(item)"
    >
      <app-carta-baralho
        class="cursor-pointer transition-transform hover:absolute hover:-translate-y-1"
        [naipe]="item.naipe"
        [numero]="item.numero"
      ></app-carta-baralho>
    </div>
  </div>
</div>

<figure *ngIf="joined" class="cursor-pointer w-7 h-2 flex flex-col">
  <img class="" src="/assets/game/partidaTruco/botao-entrar-mesa.png" />
</figure>
