<div class="bg-[#222222] h-full">
  <div class="flex justify-between items-center border-b border-solid border-primary p-1">
    <div class="flex grow justify-center">
      <span class="text-primary ml-4">Adicionar Ficha</span>
    </div>
    <img (click)="back();" src="../../../../../assets/game/partidaTruco/botao-fechar.png"
      class="h-6 rounded-md cursor-pointer active:scale-110 duration-300" />
  </div>
  <div class="flex justify-center pt-2">
    <div class="items-center">
      <h2 class="text-[0.8rem] text-primary mt-1 mr-1">Adicionar: </h2>
    </div>
    <div class="w-16 h-5 border-b-2 border-solid border-primary">
      <ion-input name="password" class="h-5 rounded-sm text-[0.8rem] font-vag pr-1" color="transparent"
        placeholder="Ex: 200" [(ngModel)]="quantityFiles">
      </ion-input>
    </div>
  </div>
  <div class="text-[0.6rem] text-primary text-center">
    <p>Valor correspondente em R$ {{valueReal}}</p>
  </div>
  <div>
    <img (click)="showPagamentoModal()" class="h-8 my-2 mx-auto cursor-pointer transition ease-in-out hover:scale-110"
      src="/assets/game/perfil/adicionar.png">
  </div>
</div>