<ion-content>
  <div class="bg-fundo_clube min-h-screen p-0 m-0 bg-cover flex items-center justify-center h-screen w-screen">
    <section>
      <img class="object-contain  h-48 w-96 pb-10" src="/assets/icon/desenlogotipo-sportplayer.png" alt="">
      <p class="text-primary align-middle font-vag text-lg text-center">EM BREVE...</p>
      <div class="flex justify-center ">
        <ion-button color="transparent" class="bg-gradient-to-b from-[#e0b54d] to-[#83511e] text-[#080808] rounded-lg font-vag text-lg h-10 w-9/12 my-5" type="button" (click)="back()">Voltar
        </ion-button>
      </div>
    </section>
  </div>
</ion-content>