<div class="flex items-center justify-center">
  <img
    class="h-3 m-1"
    src="../../../../assets/game/roleta/estrelinha.png"
    alt="Uma estrelinha"
  />
  <!-- ../../../../assets/game/roleta/fundo-roleta.png -->
  <div class="flex">
    <div
      class="h-4 bg-fundo_roleta text-white bg-contain p-1 flex justify-center items-center"
    >
      <span class="text-[0.8rem] font-vag -tracking-wider">000000000</span>
    </div>
  </div>
  <img
    class="h-3 m-1"
    src="../../../../assets/game/roleta/estrelinha.png"
    alt="Uma estrelinha"
  />
</div>
