<div
  class="flex grow justify-center border-b-[1px] border-solid border-primary p-1"
>
  <span class="text-primary text-[0.6rem]">Mãos Premiadas</span>
</div>
<div class="p-1 leading-normal">
  <span class="text-primary text-[0.5rem]"
    >Uma parte do prêmio das mesas são para o acumulo do jackpot</span
  >
  <div class="flex items-center content-center">
    <div class="grow h-[1px] bg-primary"></div>
    <span class="text-primary text-[0.5rem] mx-1">Truco</span>
    <div class="grow h-[1px] bg-primary"></div>
  </div>
  <span class="text-primary text-[0.5rem]"
    >3 Manilhas na mão? 1% da premiação!</span
  >
  <div class="flex w-full items-center">
    <app-carta-baralho naipe="paus" numero="4"></app-carta-baralho>
    <app-carta-baralho naipe="ouros" numero="7"></app-carta-baralho>
    <app-carta-baralho naipe="espadas" numero="A"></app-carta-baralho>
  </div>
  <span class="text-primary text-[0.5rem]"
    >3 Cartas iguais? 0.5% da premiação!</span
  >
  <div class="flex w-full items-center">
    <app-carta-baralho naipe="paus" numero="A"></app-carta-baralho>
    <app-carta-baralho naipe="ouros" numero="A"></app-carta-baralho>
    <app-carta-baralho naipe="espadas" numero="A"></app-carta-baralho>
    <span class="text-primary text-[0.5rem]">ou</span>
    <app-carta-baralho naipe="copas" numero="9"></app-carta-baralho>
    <app-carta-baralho naipe="copas" numero="8"></app-carta-baralho>
    <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
  </div>
  <div class="flex items-center content-center">
    <div class="grow h-[1px] bg-primary"></div>
    <span class="text-primary text-[0.5rem] mx-1">Ganhadores</span>
    <div class="grow h-[1px] bg-primary"></div>
  </div>
  <div class="border-[1px] border-solid border-primary p-1">
    <div class="flex content-center items-center justify-between">
      <span class="text-primary text-[0.5rem]">Ganhadores</span>
      <span class="text-primary text-[0.5rem]">Truco</span>
    </div>
    <div
      class="bg-primary w-full flex items-center content-center justify-between p-1"
    >
      <span class="text-black text-[0.6rem]">Samuel</span>
      <div class="flex items-center">
        <app-carta-baralho naipe="paus" numero="3"></app-carta-baralho>
        <app-carta-baralho naipe="ouros" numero="3"></app-carta-baralho>
        <app-carta-baralho naipe="espadas" numero="3"></app-carta-baralho>
      </div>
      <span class="text-black text-[0.6rem]">+99.999,99</span>
    </div>
  </div>
</div>
