<div
  class="bg-[url('/assets/game/truco8/fundo-container.png')] mt-4 flex h-10 flex-col w-full bg-cover bg-no-repeat"
>
  <div class="flex flex-row mt-3">
    <div class="flex w-full relative bottom-7">
      <div
        class="bg-[url('/assets/game/game/homem.png')] bg-black z-20 rounded-full border border-amber-100/50 border-solid w-14 h-14 bg-no-repeat bg-contain"
      ></div>
      <div class="flex flex-col">
        <figure class="w-48 relative right-5">
          <img src="/assets/game/truco8/fundo-info-Jogador.png" />
          <span
            class="absolute left-6 top-0 -mt-0.5 text-[#fdfca7] font-medium uppercase text-xs leading-6"
            >NICKNAME</span
          >
          <span
            class="absolute left-6 top-4 -mt-0.5 text-[#fdfca7] font-medium uppercase text-xs"
            >ID: 1223</span
          >
        </figure>
        <figure class="w-36 relative right-5">
          <img src="/assets/game/truco8/fundo-info-Jogador.png " />
          <span class="absolute bottom-0 left-6 mb-0.5 text-[#fdfca7] text-xs"
            >LEVEL</span
          >
        </figure>
      </div>
    </div>

    <div class="flex justify-center items-center relative bottom-5">
      <img
        class="cursor-pointer transition ease-in-out delay-150 active:scale-110 duration-300 h-5"
        src="/assets/game/truco8/mensagem.png"
      />
      <img
      (click)="showMissaoModal()"
        class="cursor-pointer transition ease-in-out delay-150 active:scale-110 duration-300 h-7 m-2"
        src="/assets/game/truco8/missao.png"
      />
      <img
        (click)="showSuporteModal()"
        class="cursor-pointer transition ease-in-out delay-150 active:scale-110 duration-300 h-7 mr-5"
        src="/assets/game/truco8/suporte.png"
      />
    </div>
  </div>
</div>
