<ion-content>
  <div class="bg-[url('/assets/game/disconnected/fundo-disconnected.png')] h-full p-0 m-0 bg-cover bg-no-repeat ">
    <div class="flex justify center">
      <img class="h-24 mx-auto mt-48" src="/assets/icon/adaptive-icon.png">
    </div>
      <h1 class="text-[#DCDCDC] font-vag text-center my-5">DESCONECTADO</h1>
    <div class="mx-auto">
      <p class="text-[#DCDCDC] font-vag text-center text-[0.7rem] px-7">
        Seu acesso com a internet foi interronpido por favor, verifique a conexão com a internet.
      </p>
    </div>
  </div>
</ion-content>