<ion-content>
  <div class="bg-background-home h-full p-0 m-0 bg-cover bg-no-repeat ">
    <app-header moeda="55" diamante="20"></app-header>
    <ion-tabs >
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="store">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>{{ "home.tab.store" | translate }}</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="play">
          <ion-icon name="play"></ion-icon>
          <ion-label>{{ "home.tab.play" | translate }}</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="config">
          <ion-icon name="settings"></ion-icon>
          <ion-label>{{ "home.tab.config" | translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    <div class="flex justify-center my-4 mx-2">
      <img class="h-6 object-cover" src="../../../../assets/game/game/sorte-di-ria.png">

    </div>
    <div class="flex justify-center">
      <ion-row>

        <div class="h-14 w-14 relative flex my-auto m-0.5">
          <img class="h-14 w-14" src="../../../../assets/game/loja/sortido-item.png">
          <div class="absolute left-1 bottom-1">
            <img class="h-12 w-12 object-cover" src=".../../../../assets/game/loja/interrogacao.png">
          </div>
        </div>
        <div class="h-16 w-16 relative flex my-auto m-0.2">
          <img class="h-16 w-16" src="../../../../assets/game/loja/sortido-item.png">
          <div class="absolute left-1 bottom-1">
            <img class="h-14 w-14 object-cover" src=".../../../../assets/game/loja/interrogacao.png">
          </div>
        </div>
        <div class="h-20 w-20 relative flex my-auto m-1">
          <img class="h-20 w-20" src="../../../../assets/game/loja/sortido-item.png">
          <div class="absolute left-1 bottom-1">
            <img class="h-16 w-16 m-1 object-cover" src=".../../../../assets/game/loja/interrogacao.png">
          </div>
        </div>
        <div class="h-16 w-16 relative flex my-auto m-0.2">
          <img class="h-16 w-16" src="../../../../assets/game/loja/sortido-item.png">
          <div class="absolute left-1 bottom-1">
            <img class="h-14 w-14 object-cover" src=".../../../../assets/game/loja/interrogacao.png">
          </div>
        </div>
        <div class="h-14 w-14 relative flex my-auto m-0.5">
          <img class="h-14 w-14" src="../../../../assets/game/loja/sortido-item.png">
          <div class="absolute left-1 bottom-1">
            <img class="h-12 w-12 object-cover" src=".../../../../assets/game/loja/interrogacao.png">
          </div>
        </div>

      </ion-row>
    </div>

    <img class="h-8 w-36 my-6 mx-auto m-2 object-cover rounded-xl" src="../../../../assets/game/loja/botao-sortear.png">
    
    <cdk-virtual-scroll-viewport itemSize="56"class="h-2/4 sm:h-2/4 w-full">
 
    <div class="flex justify-center mb-6">
        <div class="grid grid-cols-3 gap-3">
          <div *ngFor="let storeItem of storeItens">

            <div class="h-28 w-24 relative">
              <img class="h-28 w-24" src="../../../../assets/game/loja/sortido-item.png">
              <div class="absolute bottom-0">
                <img class="h-6" src="../../../../assets/game/loja/loja-preco-quadr.png">
                <div class="absolute bottom-0 mx-6 my-6">
                  <img class="h-11" src="{{storeItem.imgItem}}">
                  <h3 class="my-1 mb-0 font-bold text-xl">
                    1000
                  </h3>
                </div>
                <h3 class="absolute bottom-0 mx-5 my-0.5 font-bold text-yellow-100/50">
                  R$ {{storeItem.price}}
                </h3>
              </div>
            </div>

          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    </div>
</ion-content>

  


