<div class="p-3 flex flex-col bg-background h-screen justify-between">
  <section class="flex items-center justify-between">
    <div class="flex items-center justify-center">
      <img
        class="cursor-pointer h-8"
        src="/assets/game/partidaTruco/config.png"
      />
      <div
        class="bg-[url('/assets/game/partidaTruco/espectadores.png')] h-9 w-16 bg-contain bg-no-repeat"
      >
        <span
          class="absolute left-[4.2rem] top-[2.1rem] text-[#8b8b5c] font-vag"
          >{{spectorsCount}}</span
        >
      </div>
    </div>

    <div class="flex justify-center items-center">
      <div class="flex">
        <div class="flex flex-col relative top-5 mr-1">
          <div
            [ngClass]="{'bg-[#8b8b5c]': false}"
            class="bg-[#3d3c3c] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
          <div
            [ngClass]="{'bg-[#8b8b5c]': false}"
            class="bg-[#3d3c3c] mt-[2px] mb-[2px] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
          <div
            [ngClass]="{'bg-[#ffffb3]': true}"
            class="bg-[#3d3c3c] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
        </div>
        <div
          class="w-14 h-[3.5rem] mr-1 flex justify-center items-center bg-[url('/assets/game/partidaTruco/nos.png')] bg-contain bg-no-repeat"
        >
          <span
            class="relative top-[0.4rem] text-[#8b8b5c] font-vag text-[1.6rem]"
            >{{pontosNos}}</span
          >
        </div>
      </div>
      <div class="flex">
        <div
          class="w-14 h-[3.5rem] relative top-[0.3rem] flex justify-center items-center bg-[url('/assets/game/partidaTruco/eles.png')] bg-contain bg-no-repeat"
        >
          <span
            class="relative top-[0.1rem] text-[#8b8b5c] font-vag text-[1.6rem]"
            >{{pontosEles}}</span
          >
        </div>
        <div class="flex flex-col relative top-5 ml-1">
          <div
            [ngClass]="{'bg-[#8b8b5c]': false}"
            class="bg-[#3d3c3c] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
          <div
            [ngClass]="{'bg-[#8b8b5c]': false}"
            class="bg-[#3d3c3c] mt-[2px] mb-[2px] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
          <div
            [ngClass]="{'bg-red-400': true}"
            class="bg-[#3d3c3c] border-solid border-[0.8px] border-[#8b8b5c] rounded-full w-[0.6rem] h-[0.6rem]"
          ></div>
        </div>
      </div>
      <div
        class="ml-4 w-14 h-[3.5rem] mr-1 bg-center flex justify-center items-center bg-[url('/assets/game/partidaTruco/valor-da-rodada.png')] bg-contain bg-no-repeat"
      >
        <span
          class="relative top-[0.4rem] text-[#8b8b5c] font-vag text-[1.6rem]"
          >{{rodadas}}</span
        >
      </div>
    </div>
    <img
      (click)="presentConfigGameModal()"
      class="cursor-pointer h-12 relative left-3"
      src="/assets/game/partidaTruco/informacoes.png"
    />
  </section>
  <!-- <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <h1>Ola Mundo</h1>
      <button (click)="menu()">fechar</button>
    </ng-template>

  </ion-modal> -->

  <section class="flex justify-center h-[70%]">
    <img
      class="cursor-pointer h-10 self-end transition ease-in-out delay-150 hover:scale-110 duration-300"
      src="/assets/game/partidaTruco/convidar-amigos.png"
    />

    <div class="w-[100%] h-full">
      <div
        class="bg-mesa bg-center m-auto bg-[length:100%_100%] max-w-xs bg-no-repeat w-full h-full flex flex-col justify-between items-center"
      >
        <div
          class="flex grow basis-1/4 max-h-1/4 flex-col items-center justify-between"
        >
          <app-avatar-mesa
            [cardsRival]="cardsRivalTop"
            [nome]="namej3"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar3"
            [cards]="exampleCards"
            [joined]="avatar3"
          ></app-avatar-mesa>

          <app-tampa-p class="relative -top-4 left-8"></app-tampa-p>

          <div class="flex flex-col justify-center items-center">
            <!-- {{tableData.tableType}} -->
            <span
              *ngIf="tableData.tableType === 'cashgame'"
              class="block text-black opacity-50 text-[1rem]"
              >{{"mesa.cashgame" | translate }}</span
            >
            <span
              *ngIf="tableData.tableType === 'torneio'"
              class="block text-black opacity-60 text-[1rem]"
              >{{ "mesa.tournament" | translate }}</span
            >
          </div>

          <app-jackpot></app-jackpot>

          <!-- cardVirada -->
          <div class="flex w-full" *ngIf="cardVira.naipe">
            <div class="relative w-8 h-14 rotate-90 z-10">
              <img
                class="h-full w-full rounded-sm"
                src="/assets/game/partidaTruco/costas-das-cartas.png"
              />
            </div>
            <span>lorememem</span>
            *ngIf="!topCardNaipe == 0 || !topCardNumber == 0"
            <app-carta-baralho
              class="relative right-8 top-5 -rotate-180"
              [naipe]="cardVira.naipe"
              [numero]="cardVira.numero"
            ></app-carta-baralho>
          </div>
          <div class="w-8 h-14 rotate-180">
            <app-carta-baralho
              *ngIf="!topCardNaipe == 0 || !topCardNumber == 0"
              [naipe]="topCardNaipe"
              [numero]="topCardNumber"
            ></app-carta-baralho>
          </div>
        </div>

        <div class="flex justify-between items-center w-full">
          <div>
            <app-tampa-p class="relative top-0 bg-white left-12"></app-tampa-p>
            <app-avatar-mesa
              [cardsRival]="cardsRivalTop"
              [nome]="namej2"
              [joined]="avatar2"
              cartas="/assets/game/cartas/4paus.png"
              avatar="/assets/game/partidaTruco/perfil-foto-exemplo.png"
            ></app-avatar-mesa>
          </div>

          <div class="flex">
            <div class="w-8 h-14 rotate-90">
              <app-carta-baralho
                *ngIf="!leftCardNaipe == 0 || !leftCardNumber == 0"
                [naipe]="leftCardNaipe"
                [numero]="leftCardNumber"
              ></app-carta-baralho>
            </div>
            <div class="w-14 customSm"></div>

            <div class="w-8 h-14 -rotate-90">
              <app-carta-baralho
                *ngIf="!rightCardNaipe == 0 || !rightCardNumber == 0"
                [naipe]="rightCardNaipe"
                [numero]="rightCardNumber"
              ></app-carta-baralho>
            </div>
          </div>

          <div>
            <app-tampa-p class="relative top-0 bg-white right-4"></app-tampa-p>
            <app-avatar-mesa
              cardDirection="right"
              [cardsRival]="cardsRivalRight"
              [nome]="namej4"
              cartas="/assets/game/cartas/4paus.png"
              [avatar]="avatar4"
              [joined]="avatar4"
              [cards]="exampleCards"
            ></app-avatar-mesa>
          </div>
        </div>

        <div class="flex grow basis-1/4 items-center justify-between flex-col">
          <div class="w-8 h-14">
            <app-carta-baralho
              *ngIf="!bottomCardNaipe == 0 || !bottomCardNumber == 0"
              [naipe]="bottomCardNaipe"
              [numero]="bottomCardNumber"
            ></app-carta-baralho>
          </div>

          <div class="flex flex-col items-center">
            <span
              *ngIf="tableData.tableType === 'cashgame'"
              class="block text-white opacity-60 text-[0.6rem]"
              >{{"mesa.cashgame" | translate }}</span
            >
            <span
              *ngIf="tableData.tableType === 'torneio'"
              class="block text-white opacity-60 text-[0.6rem]"
              >{{"mesa.tournament" | translate }}</span
            >
            <span class="block text-white opacity-60 text-[0.6rem]">
              Limpo
            </span>

            <span class="block text-white opacity-60 text-[0.6rem]">
              Id: 4568
            </span>
            <span class="block text-white opacity-60 text-[0.6rem]">
              entrada: 600
            </span>
          </div>
          <div>
            <app-tampa-p class="relative -top-1 bg-white right-1"></app-tampa-p>
            <app-avatar-mesa
              eu="true"
              [joined]="avatar1"
              cardDirection="right"
              [nome]="namej1"
              cartas="/assets/game/cartas/4paus.png"
              [avatar]="avatar1"
              [cards]="exampleCards"
              [cardsRival]="cardsRival"
            ></app-avatar-mesa>
          </div>
        </div>
      </div>
    </div>
    <img
      class="cursor-pointer h-10 self-end transition ease-in-out delay-150 hover:scale-110 duration-300"
      src="/assets/game/partidaTruco/sinal-secreto.png"
    />
  </section>

  <section>
    <section class="flex items-center flex-col">
      <img
        class="cursor-pointer h-8 w-32"
        src="/assets/game/partidaTruco/truco_part_truco.png"
      />

      <div class="flex justify-center mt-3">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/CORRER.png"
        />
        <img
          class="cursor-pointer h-8 ml-3 mr-3"
          src="/assets/game/partidaTruco/ACEITAR.png"
        />
        <img
          class="cursor-pointer h-8"
          src="../../../assets/game/partidaTruco/AUMENTAR.png"
        />
      </div>
    </section>

    <section>
      <div class="flex justify-between mt-1">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/historico-de-maos.png"
        />

        <div class="flex items-center">
          <!-- <img
            class="h-6 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/lista-de-espera.png"
          /> -->
          <div
            class="h-6 w-20 bg-contain bg-no-repeat ml-2 mr-2 bg-[url('/assets/game/partidaTruco/lista-de-espera.png')]"
          >
            <span class="font-vag text-[#8b8b5c] relative left-14">0</span>
          </div>

          <img
            class="cursor-pointer h-8 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/MICROFONE.png"
          />
          <img
            class="cursor-pointer h-8"
            src="/assets/game/partidaTruco/CHAT.png"
          />
        </div>
      </div>
    </section>
  </section>
</div>
