<ion-header>
  <div
    class="flex fundo justify-between items-center border-b-[1px] border-solid border-primary p-1"
  >
    <div class="flex grow justify-center">
      <span class="text-primary font-vag">HISTÓRICO DE MÃOS</span>
    </div>
    <img
      (click)="closeModal()"
      src="../../../../../assets/game/partidaTruco/botao-fechar.png"
      class="h-6 rounded-md transition cursor-pointer active:scale-110 duration-300"
    />
  </div>
</ion-header>
<ion-content>
  <div class="p-2 flex flex-col items-center justify-between grow h-full">
    <div
      class="w-full flex grow flex-col items-center justify-between border-[1px] border-solid border-primary p-1"
    >
      <div class="w-full flex grow flex-col items-center">
        <span class="text-[0.7rem] text-primary mx-3">3° Mão</span>

        <div
          class="w-full flex flex-col border-[1px] border-solid border-primary mt-2"
        >
          <div class="w-full border-b-[1px] border-solid border-primary">
            <span class="text-[0.6rem] text-primary m-1">1º rodada</span>
          </div>

          <div class="w-full flex items-center">
            <div
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class="border-2 border-solid border-yellow-300 rounded-sm"
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown12</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="Q"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              class="flex grow flex-col basis-1/4 justify-center items-center p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">você</span>
            </div>
          </div>
        </div>
        <div
          class="w-full flex flex-col border-[1px] border-solid border-primary mt-2"
        >
          <div class="w-full border-b-[1px] border-solid border-primary">
            <span class="text-[0.6rem] text-primary m-1">2º rodada</span>
          </div>

          <div class="w-full flex items-center content-center">
            <div
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class="border-2 border-solid border-yellow-300 rounded-sm"
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown12</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="Q"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              class="flex grow flex-col basis-1/4 justify-center items-center p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">você</span>
            </div>
          </div>
        </div>
        <div
          class="w-full flex flex-col border-[1px] border-solid border-primary mt-2"
        >
          <div class="w-full border-b-[1px] border-solid border-primary">
            <span class="text-[0.6rem] text-primary m-1">3º rodada</span>
          </div>

          <div class="w-full flex items-center">
            <div
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class="border-2 border-solid border-yellow-300 rounded-sm"
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown12</span>
            </div>

            <div
              *ngIf="playersDistribution === '2x2'"
              class="flex grow flex-col basis-1/4 justify-center items-center border-r-[0.4px] border-solid border-primary p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="Q"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">unknown</span>
            </div>

            <div
              class="flex grow flex-col basis-1/4 justify-center items-center p-1 pt-2"
            >
              <app-carta-baralho
                class=""
                naipe="copas"
                numero="A"
              ></app-carta-baralho>
              <span class="text-[0.4rem] text-primary m-0.5">você</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 flex flex-col items-center justify-center">
        <p class="text-[0.7rem] text-primary mx-3">vitória</p>
        <p class="text-[0.7rem] text-primary mx-3">pontos ganhos: 01</p>
      </div>
    </div>

    <div class="flex mt-2 items-center">
      <img
        src="../../../../../assets/game/partidaTruco/seta-esquerda.png"
        class="h-3 cursor-pointer active:scale-110 duration-300"
      />
      <span class="text-[0.5rem] text-primary mx-2">3/23</span>
      <img
        src="../../../../../assets/game/partidaTruco/seta-direita.png"
        class="h-3 cursor-pointer active:scale-110 duration-300"
      />
    </div>
  </div>
</ion-content>
