// ion-tabs {
$border-width: 0.15rem;

ion-tab-bar {
  --background: transparent;
  background: var(--primaryLinearGradient);
}

ion-tab-button {
  --padding-bottom: 10px;
  --padding-top: 10px;
  &:nth-last-of-type(2) {
    border-left-width: $border-width;
    border-right-width: $border-width;
    border-style: solid;
    border-color: var(--back);
  }

  &.tab-selected {
    background-color: var(--back);
  }
}
