ion-input {
    caret-color: var(--primary);
    --placeholder-color: var(--primary);
    --placeholder-opacity: 0.5;
    --ion-color-base: var(--primary);
    --color: var(--primary);
}
.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.h-full-custom {
  height: 100%;
}
.h-auto-custom {
  height: auto;
}

ion-content{
  --background: rgb(34,34,34);
}
