<div
  class="w-8 h-14 customSm bg-gray-100 border-solid border-[1.3px] border-white rounded-sm shadow-sm shadow-[#272727]/50 flex flex-col items-start justify-center p-[5px]"
>
  <div class="relative -top-1 items-center justify-center">
    <span
      [ngClass]="{
        'text-red-500': naipe === 'copas' || naipe === 'ouros',
        'text-black': naipe === 'paus' || naipe === 'espadas'
      }"
      class="text-vag text-[1rem]"
      >{{ getSymbolCard() }}</span
    >
    <img class="relative -top-1 h-2" [src]="getNaipeSrc()" />
  </div>
  <img class="h-5 self-end" [src]="getNaipeSrc()" />
</div>
