<div class="p-3 flex flex-col bg-background h-screen justify-between">
  <section class="flex items-center justify-between">
    <img
      class="cursor-pointer h-12"
      src="/assets/game/partidaTruco/config.png"
    />
    <img class="h-12" src="/assets/game/partidaTruco/nos.png" />
    <img class="h-12" src="/assets/game/partidaTruco/eles.png" />
    <img class="h-12" src="/assets/game/partidaTruco/valor-da-rodada.png" />
    <img
      (click)="menu()"
      class="cursor-pointer h-14 m-3"
      src="/assets/game/partidaTruco/informacoes.png"
    />
  </section>

  <ion-modal class="w-6/12" [isOpen]="isModalOpen">
    <ng-template>
      <h1>Ola Mundo</h1>
      <button (click)="menu()">fechar</button>
    </ng-template>
  </ion-modal>

  <section class="flex justify-between h-3/5">
    <img
      class="cursor-pointer h-10 self-end"
      src="/assets/game/partidaTruco/convidar-amigos.png"
    />

    <div class="w-7/12 h-6/6">
      <div
        class="bg-mesa bg-center m-auto bg-[length:100%_100%] max-w-sm bg-no-repeat w-full h-full flex flex-col justify-between items-center"
      >
        <div class="flex grow basis-1/4 flex-col items-center">
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j3"
            [nome]="namej3"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar3"
          ></app-avatar-mesa>
          <p>CashGaem</p>
          <p>Jackpot</p>
          <p>Jackpot</p>
        </div>

        <div class="flex justify-between w-full">
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j2"
            [nome]="namej2"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar2"
          ></app-avatar-mesa>
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j4"
            [nome]="namej4"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar4"
          ></app-avatar-mesa>
        </div>

        <div class="flex grow basis-1/4 items-center justify-between flex-col">
          <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
          <div class="">
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
            <p>Lorem</p>
          </div>
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j1"
            [nome]="namej1"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar1"
          ></app-avatar-mesa>
        </div>
      </div>
    </div>
    <img
      class="cursor-pointer h-10 self-end"
      src="/assets/game/partidaTruco/sinal-secreto.png"
    />
  </section>

  <section>
    <section class="flex items-center flex-col">
      <img
        class="cursor-pointer h-8 w-32"
        src="/assets/game/partidaTruco/truco_part_truco.png"
      />

      <div class="flex justify-center mt-3">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/CORRER.png"
        />
        <img
          class="cursor-pointer h-8 ml-3 mr-3"
          src="/assets/game/partidaTruco/ACEITAR.png"
        />
        <img
          class="cursor-pointer h-8"
          src="../../../assets/game/partidaTruco/AUMENTAR.png"
        />
      </div>
    </section>

    <section>
      <div class="flex justify-between mt-1">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/historico-de-maos.png"
        />

        <div class="flex items-center">
          <img
            class="h-6 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/lista-de-espera.png"
          />
          
          <img
            class="cursor-pointer h-8 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/MICROFONE.png"
          />
          <img
            class="cursor-pointer h-8"
            src="/assets/game/partidaTruco/CHAT.png"
          />
        </div>
      </div>
    </section>
  </section>
</div>
