<div class="p-3 flex flex-col bg-background h-screen justify-between">
  <section class="flex items-center justify-between">
    <div class="flex items-center justify-center bg-yellow-400">
      <img
        class="cursor-pointer h-8"
        src="/assets/game/partidaTruco/config.png"
      />
      <div
        class="bg-[url('/assets/game/partidaTruco/espectadores.png')] h-9 w-16 bg-contain bg-no-repeat"
      >
        <span class="absolute left-16 top-8 text-fuchsia-600">999</span>
      </div>
    </div>

    <div class="flex justify-center bg-orange-100 items-center">
      <img class="h-12" src="/assets/game/partidaTruco/nos.png" />
      <img class="h-12" src="/assets/game/partidaTruco/eles.png" />
      <img class="h-8" src="/assets/game/partidaTruco/valor-da-rodada.png" />
    </div>

    <img
      (click)="presentConfigGameModal()"
      class="cursor-pointer h-12 relative left-3"
      src="/assets/game/partidaTruco/informacoes.png"
    />
  </section>

  <!-- <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <h1>Ola Mundo</h1>
      <button (click)="menu()">fechar</button>
    </ng-template>
  </ion-modal> -->

  <section class="flex justify-between h-4/6">
    <img
      class="cursor-pointer h-10 self-end"
      src="/assets/game/partidaTruco/convidar-amigos.png"
    />

    <div class="w-7/12 h-full">
      <div
        class="bg-mesa bg-center m-auto bg-[length:100%_100%] max-w-sm bg-no-repeat w-full h-full flex flex-col justify-between items-center"
      >
        <div class="flex grow basis-1/4 flex-col items-center justify-between">
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j3"
            [nome]="namej3"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar3"
          ></app-avatar-mesa>

          <div class="flex flex-col justify-center items-center">
            <!-- {{tableType}} -->
            <span
              *ngIf="tableType === 'cashgame'"
              class="block text-black opacity-50 font-semibold uppercase"
              >{{"mesa.cashgame" | translate }}</span
            >
            <span
              *ngIf="tableType === 'torneio'"
              class="block text-white opacity-60 font-medium uppercase"
              >{{ "mesa.tournament" | translate }}</span
            >
          </div>

          <app-jackpot></app-jackpot>
          <div class="w-8 h-14">
            <p>baralho</p>
          </div>
          <div class="w-8 h-14 rotate-180">
            <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
          </div>
        </div>

        <div class="flex justify-between items-center w-full">
          <app-avatar-mesa
            (click)="enterRoom()"
            [joined]="j2"
            [nome]="namej2"
            cartas="/assets/game/cartas/4paus.png"
            avatar="/assets/game/partidaTruco/perfil-foto-exemplo.png"
          ></app-avatar-mesa>

          <div class="flex">
            <div class="w-8 h-14 rotate-90">
              <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
            </div>
            <div class="w-14"></div>

            <div class="w-8 h-14 -rotate-90">
              <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
            </div>
          </div>

          <app-avatar-mesa
            cardDirection="right"
            (click)="enterRoom()"
            [joined]="j4"
            [nome]="namej4"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar4"
          ></app-avatar-mesa>
        </div>

        <div class="flex grow basis-1/4 items-center justify-between flex-col">
          <div class="w-8 h-14">
            <app-carta-baralho naipe="copas" numero="7"></app-carta-baralho>
          </div>

          <div class="flex flex-col items-center">
            <span
              *ngIf="tableType === 'cashgame'"
              class="block text-white opacity-60 font-medium uppercase text-xs"
              >{{"mesa.cashgame" | translate }}</span
            >
            <span
              *ngIf="tableType === 'torneio'"
              class="block text-white opacity-60 font-medium uppercase text-xs"
              >{{"mesa.tournament" | translate }}</span
            >
            <span
              class="block text-white font-medium opacity-60 uppercase text-xs"
            >
              Limpo
            </span>

            <span
              class="block text-white font-medium opacity-60 uppercase text-xs"
            >
              Id: 4568
            </span>
            <span
              class="block text-white font-medium opacity-60 uppercase text-xs"
            >
              entrada: 600
            </span>
          </div>
          <app-avatar-mesa
            eu="true"
            cardDirection="right"
            (click)="enterRoom()"
            [joined]="j1"
            [nome]="namej1"
            cartas="/assets/game/cartas/4paus.png"
            [avatar]="avatar1"
          ></app-avatar-mesa>
        </div>
      </div>
    </div>
    <img
      class="cursor-pointer h-10 self-end"
      src="/assets/game/partidaTruco/sinal-secreto.png"
    />
  </section>

  <section>
    <section class="flex items-center flex-col">
      <img
        class="cursor-pointer h-8 w-32"
        src="/assets/game/partidaTruco/truco_part_truco.png"
      />

      <div class="flex justify-center mt-3">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/CORRER.png"
        />
        <img
          class="cursor-pointer h-8 ml-3 mr-3"
          src="/assets/game/partidaTruco/ACEITAR.png"
        />
        <img
          class="cursor-pointer h-8"
          src="../../../assets/game/partidaTruco/AUMENTAR.png"
        />
      </div>
    </section>

    <section>
      <div class="flex justify-between mt-1">
        <img
          class="cursor-pointer h-8"
          src="/assets/game/partidaTruco/historico-de-maos.png"
        />

        <div class="flex items-center">
          <!-- <img
            class="h-6 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/lista-de-espera.png"
          /> -->
          <div
            class="h-6 w-20 bg-contain bg-no-repeat ml-2 mr-2 bg-[url('/assets/game/partidaTruco/lista-de-espera.png')]"
          >
            <span class="text-purple-500 relative left-14 font-medium">0</span>
          </div>

          <img
            class="cursor-pointer h-8 ml-2 mr-2"
            src="../../../assets/game/partidaTruco/MICROFONE.png"
          />
          <img
            class="cursor-pointer h-8"
            src="/assets/game/partidaTruco/CHAT.png"
          />
        </div>
      </div>
    </section>
  </section>
</div>
