/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@charset "utf-8";
/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
and,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*blockquote, q {
     quotes:none;
 }
 blockquote:before, blockquote:after, q:before, q:after {
     content:none;
 }*/
del {
  text-decoration: line-through;
}

hr {
  background: transparent;
  border: 0;
  clear: both;
  color: transparent;
  height: 1px;
  margin: 0;
  padding: 0;
}

mark {
  background-color: #ffffb3;
  font-style: italic;
}

input,
select {
  vertical-align: middle;
}

ins {
  background-color: red;
  color: white;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*fonts*/
@font-face {
  font-family: "MonuEx-regular"; //This is what we are going to call
  src: url("./assets/fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "Vag-Round"; //This is what we are going to call
  src: url("./assets/fonts/VAGRoundedBT.ttf");
}

* {
  font-family: "MonuEx-regular";
  text-transform: uppercase;
}

.custom-modal-sinal-secreto {
  align-items: flex-end; // Y
  justify-content: flex-end; // X
  &::part(content) {
    box-sizing: border-box;
    position: absolute;
    bottom: 9.3rem;
    width: 50%;
    max-width: 230px;
    height: 25%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
  }
}

.modal-teste,
div.modal-wrapper,
div.modal-shadow {
  left: 1;
  --width: 50%;
  --height: 50%;
}
.custom-class-modal-pattern {
  --height: 100%;
  --width: 80%;
  --max-width: 400px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
}
.modal-h20-height {
  --height: 20%;
}
.modal-w50-width {
  --width: 50%;
}
.custom-class-modal-missoes {
  --height: 100%;
  --width: 80%;
  --max-width: 400px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
}
.modal-height-missoes {
  --height: 410px;
}
.custom-class-modal-vip {
  --height: 100%;
  --width: 80%;
  --max-width: 400px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
}
.modal-height-vip {
  --height: 430px;
}
.custom-class-modal-saque {
  --height: 100%;
  --width: 80%;
  --max-width: 400px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
}
.modal-height-saque {
  --height: 260px;
}
.custom-class-modal-pagamento {
  --height: 100%;
  --width: 300px;
  --max-width: 400px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--primary);
}
.modal-height-pagamento {
  --height: 500px;
}
.text-vag {
  font-family: "Vag-Round";
  // color: #ffffb3;
}
#background-content {
  background-color: #ffffb3 !important;
}

@media (max-width: 400px) {
  .customSm {
    // transform: scale(100vw / 100%);
  }
}
