<div class="grid grid-cols-2 justify-between">
  <div *ngFor="let item of mesasData">
    <div class="w-44 flex flex-col items-center m-1">
      <div
        [ngClass]="{
          'bg-mesa_torneio': item.tableType === 'torneio',
          'bg-mesa_cashgame': item.tableType === 'cashgame'
        }"
        class="w-full h-[9rem] cursor-pointer bg-center bg-contain bg-no-repeat flex flex-col justify-center items-center"
      >
        <div
          [ngClass]="{
            'from-[#ff396e] to-[#ff0240] bottom-1 ':
              item.tableType === 'cashgame',
            'from-[#00afee] to-[#0057bf]': item.tableType === 'torneio'
          }"
          class="flex flex-col bg-gradient-to-b items-center p-1 w-2/3 relative bottom-1 rounded-md leading-3"
        >
          <span class="text-white text-[0.8rem]">{{ item.tableType }}</span>
          <div class="flex items-center">
            <div *ngIf="item.tableType === 'torneio'" class="flex items-center">
              <span class="text-white text-[0.4rem] mr-1"
                >PRÊMIO TOTAL: {{ item.awardTotal }}
              </span>
              <img
                class="w-4 h-4"
                src="../../../../assets/game/game/moeda.png"
                alt="icone de um moeda"
              />
            </div>
          </div>
        </div>

        <div
          [ngClass]="{
            'top-2': item.tableType === 'cashgame',
            'bottom-0.5': item.tableType === 'torneio'
          }"
          class="flex items-center justify-center relative"
        >
          <img
            *ngIf="item.rules === 'mineiro'"
            class="mt-1 h-5"
            src="/assets/game/truco8/modalidades/mineiro.png"
            alt=""
          />
          <img
            *ngIf="item.rules === 'paulista'"
            class="mt-1 h-5"
            src="/assets/game/truco8/modalidades/paulista.png"
            alt=""
          />
        </div>

        <div
          [ngClass]="{ 'top-[0.65rem]': item.tableType === 'cashgame' }"
          class="flex items-center relative top-[0.1rem]"
        >
          <span class="bg-black/40 rounded-full h-5 px-3 text-[0.7rem]">{{
            item.playersDistribution
          }}</span>
          <span
            class="bg-black/40 rounded-full text-center align-middle h-5 px-3 text-[0.7rem] ml-1"
            >{{ item.gameMode }}</span
          >
        </div>

        <div
          [ngClass]="{ 'relative top-2': item.tableType === 'cashgame' }"
          class="flex items-center bg-black/40 rounded-full h-5 px-2 text-[0.7rem] m-1"
        >
          <img class="h-4" src="/assets/game/truco8/icone-pessoa.png" alt="" />
          <div class="text-[#8b8b5c] text-[1rem] m-1 font-vag">0 X 0</div>
          <img class="h-4" src="/assets/game/truco8/icone-pessoa.png" alt="" />
        </div>

        <div
          [ngClass]="{ 'relative top-2': item.tableType === 'cashgame' }"
          class="flex items-center bg-gradient-to-b from-[#00f33f] to-[#006e05] py-1 px-2 rounded-full"
        >
          <span class="text-[0.6rem]">BUY: {{ item.buy }}</span>
          <img src="../../../../assets/game/game/moeda.png" class="h-4 ml-1" />
        </div>
      </div>
      <div
        class="bg-[#414141] border-solid border-2 border-[#5c5c5c] w-full rounded-full flex items-center justify-center"
      >
        <span
          *ngIf="item.tableType !== 'torneio' && item.status === 'LIVRE'"
          class="text-[0.45rem] text-white"
          >esperando jogadores</span
        >
        <div *ngIf="item.tableType === 'torneio'" class="flex items-center">
          <img src="../../../../assets/game/truco8/relogio.png" class="h-3" />
          <span class="ml-1 text-[0.45rem] text-white"
            >INÍCIO 01/01/22 ÁS 00:00H</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
