<ion-content>
  <div class="bg-[url('/assets/game/auth/fundo-auth.png')] h-full p-0 m-0 bg-cover bg-no-repeat">
    <div class="flex justify center">
      <img class="h-52 mx-auto pt-20" src="/assets/icon/logotype-with-text.png">
    </div>
      <h1 class="text-[#8b8b5c] font-vag text-center my-5">VERIFICAR CONTA</h1>
    <div class="mx-auto">
      <p class="text-[#8b8b5c] font-vag text-center text-[0.7rem] mt-5 px-5">
        Por favor, verificar sua caixa de entrada e siga as instruções do email enviado para:
      </p>
    </div>
    <div class="grid place-items-center mt-4">
      <span class="text-[#8b8b5c] font-vag text-[0.7rem] px-auto">XXXXXXXXXXXXXXXXX@gmail.com</span>
      <ion-button 
        color="transparent" 
        class="bg-gradient-to-b from-[#009454] to-[#004307] h-8 w-28 mt-4 rounded-lg text-[#ebe8e8] font-vag text-[1rem]"
        >OK
      </ion-button>
    </div>
  </div>
</ion-content>